{% extends 'base.html.twig' %}


{% block title_page %} Etablissement {% endblock %}
{% block sub_title_page %}  {% endblock %}

{% block body %}

    <div class="col-md-12 col-lg-12">
        <div class="box box-default">
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills justify-content-end margin-bottom margin-top-10">
                    {% if cat_status is not defined %}
                    <li class=" nav-item">
                        <a href="#toutes-les-institutions" class="nav-link active" data-toggle="tab" aria-expanded="false">
                            Toutes
                        </a>
                    </li>
                    {% for cat in cats %}
                        <li class="nav-item"> <a href="#{{ cat.id }}" class="nav-link" data-toggle="tab" aria-expanded="false">{{ cat.nom }}</a> </li>
                    {% endfor %}
                        {% else %}

                            <li class=" nav-item">
                                <a href="#toutes-les-institutions" class="nav-link active" data-toggle="tab" aria-expanded="false">
                                    {{ cat_status }}
                                </a>
                            </li>
                    {% endif %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="toutes-les-institutions" class="tab-pane active">
                        <div class="box">

                            <div class="box-header">
                                <h3 class="box-title">Liste de tous les établissements</h3>
                                <h6 class="box-subtitle">Exporter les données en Copie, en CSV, en Excel, en PDF ou l'Imprimer</h6>
                                <div class="pull-right">
                                    <a class="btn btn-primary" href="{{ path('admin_institutions_nouvelle') }}">Ajouter une nouvelle institution</a>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                {% for message in app.flashes('success') %}
                                    <div class="flash-notice alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% for message in app.flashes('success_approve') %}
                                    <div class="flash-notice alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% for message in app.flashes('failed_approve') %}
                                    <div class="flash-notice alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                <table id="example" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>Nom</th>
                                        <th>Adresse</th>
                                        <th>En solde</th>
                                        <th>Pack</th>
                                        <th>Statut</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for institution in institutions %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                    {% if institution.photo is not null %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/institutions/'~ institution.photo) }}" alt="{{ institution.nom }}">
                                                    {% else %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/150x100.png') }}" alt="Image par défaut">
                                                    {%  endif %}
                                                </a>
                                            </td>
                                            <td>{{ institution.nom }}</td>
                                            <td>{{ institution.adresse }}</td>
                                            <td>
                                                {% if institution.promo == 1 %}
                                                    <label for="" class="label label-success">
                                                        OUI
                                                    </label>
                                                {% else %}
                                                    <label for="" class="label label-danger">
                                                        NON
                                                    </label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if institution.offre is not null %}
                                                    {% if institution.offre.identifiant == 'basic' %}
                                                        <label class="label label-primary">Basic</label>
                                                    {% elseif institution.offre.identifiant == 'premium' %}
                                                        <label class="label label-default">Prémium</label>
                                                    {% elseif institution.offre.identifiant == 'gold' %}
                                                        <label class="label label-warning">Gold</label>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                {% if institution.status == 1 %}
                                                    <i style="color: darkgreen" class="fa fa-check-square"></i>
                                                {% elseif institution.status == 0 %}
                                                    <i style="color: red" class="fa fa-circle"></i>
                                                {% else %}
                                                    <label class="label label-warning">Encours d'approbation</label>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary">
                                                        <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                            <i class="fa fa-eye-slash"></i>
                                                        </a>
                                                    </button>
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        <div class="btn-group">
                                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="{{ path('institution_approve',{'id': institution.id, 'status': 1, 'identifiant': institution.categorie.identifiant}) }}">Approuver</a>
                                                                <a class="dropdown-item" href="{{ path('institution_approve',{'id': institution.id, 'status': 0, 'identifiant': institution.categorie.identifiant}) }}">Rejeter</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>


                    {% for cat in cats %}
                        <div id="{{ cat.id }}" class="tab-pane">
                            <table id="example2" class="table table-bordered table-hover display nowrap margin-top-10 table-responsive">
                                <thead>
                                <tr>
                                    <th>Photo</th>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Adresse</th>
                                    <th>Telephone</th>
                                    <th>Pack</th>
                                    <th>Promo</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {# for institution in institutions %}
                                    {% if institution.categorie.nom is defined and cat.nom == institution.categorie.nom %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                    {% if institution.photo is not null %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/institutions/'~ institution.photo) }}" alt="{{ institution.nom }}">
                                                    {% else %}
                                                        <img class="img-thumbnail img-sm" src="{{ asset('images/150x100.png') }}" alt="Image par défaut">
                                                    {%  endif %}
                                                </a>
                                            </td>
                                            <td>{{ institution.nom }}</td>
                                            <td>{{ institution.description }}</td>
                                            <td>{{ institution.adresse }}</td>
                                            <td>{{ institution.telephone }}</td>
                                            <td>
                                                {% if institution.offre is not null %}
                                                    {% if institution.offre.identifiant == 'basic' %}
                                                        <label class="label label-primary">Basic</label>
                                                    {% elseif institution.offre.identifiant == 'premium' %}
                                                        <label class="label label-default">Prémium</label>
                                                    {% elseif institution.offre.identifiant == 'gold' %}
                                                        <label class="label label-warning">Gold</label>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if institution.promo == 1 %}
                                                    <b>OUI</b>
                                                {% else %}
                                                    b
                                                {%  endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-success">
                                                        <a href="{{ path('admin_institution_show', { 'id': institution.id }) }}">
                                                            <i class="fa fa-eye-slash"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" class="btn btn-warning">
                                                        <a href="{{ path('admin_institution_edit', { 'id': institution.id }) }}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </button>
                                                    <button type="button" class="btn btn-danger">
                                                        <a href="#">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor #}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}