{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal form-element col-12' } }) }}
    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.username, 'Nom d\'utilisateur') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'readonly':'readonly' }}) }}
        </div>
    </div>
    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.email, 'Adresse e-mail') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'readonly':'readonly'  }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.prenom, 'Prénom ') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.prenom, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.nom, 'Nom ') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.date_naissance, 'Date de naissance') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.date_naissance, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.adresse, 'Adresse actuel') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.telephone, 'Numéro de téléphone') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.is_dakar, 'Êtes-vous de Dakar') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.is_dakar, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.photo, 'Photo de profil') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.photo) }}
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-3 control-label">{{ form_label(form.current_password, 'Mot de passe actuel') }}</label>

        <div class="col-sm-9">
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control' }}) }}
        </div>
    </div>

    <div class="form-group row">
        <div class="ml-auto col-sm-9">
            <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}
