{% extends "::base.html.twig" %}

{% block title_page %} Mon profil {% endblock %}
{% block body %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock body %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bnbcupload/js/2_jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/3_jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/4_jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/bnbcupload/js/5_init.js') }}"></script>
{% endblock %}