{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ etablissement.user.username }}!

{# example, assuming you have a route named "login" #}
Votre établissement <b> {{ etablissement }}</b> a été approuvé

Enjoy !

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">