{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ event.user.username }}!

{# example, assuming you have a route named "login" #}
Votre événement <b> {{ event }}</b> est encours d'approvation

Merci !

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">