{# app/Resources/views/Emails/registration.html.twig #}
<h3>Mot de passe oublié !</h3>

<p>
    Salut <b>{{ user.username }}</b> ! Un mot de passe par défaut vous a été envoyé, Priez de le modifier une fois connecté.

    <br>

    <p>Username : <b>{{ user.username }}</b> Mot de passe : <b>{{ newpassword }}</b>
        {# example, assuming you have a route named "login" #}
        Vous pouvez vous connecter à l'application avec ce nouveau mot de passe.</p>
    <br>
    Merci !
</p>