{# app/Resources/views/Emails/registration.html.twig #}
<h3></h3>

Salut {{ username }}! Vous êtes enregistré avec succès.

{# example, assuming you have a route named "login" #}
<p>
    Nom d'utilisateur : <b>{{ username }}</b>
    <br>
    Mot de pass : <b>{{ code }}</b>
</p>

Merci!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo_transparent.png')) }}">