{% extends 'base.html.twig' %}
{% block title_page %}Gestion des offres {% endblock %}
{% block sub_title_page %} {% endblock %}
{% block body %}
    <!-- START Card With Image -->
    <h2 class="card-title">Présentation de l'offre
        {% if offre.identifiant == 'basic' %}
            <label class="label label-primary">Basic</label>
            {% elseif offre.identifiant == 'premium' %}
                <label class="label label-default">Prémium</label>
            {% elseif offre.identifiant == 'gold' %}
                <label class="label label-warning">Gold</label>
        {% endif %}
    </h2>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-md-12 col-lg-4">
            <div class="box box-default">
                {% if offre.identifiant == 'basic' %}
                    <img class="card-img-top img-responsive" src="{{ asset('images/basic.jpg') }}" alt="Card image cap">
                {% elseif offre.identifiant == 'premium' %}
                    <img class="card-img-top img-responsive" src="{{ asset('images/premium.jpg') }}" alt="Card image cap">
                {% elseif offre.identifiant == 'gold' %}
                    <img class="card-img-top img-responsive" src="{{ asset('images/gold.jpg') }}" alt="Card image cap">
                {% endif %}
                <div class="box-body">
                    <h4 class="card-title">{{ offre.nom }}</h4>
                    <p class="card-text">{{ offre.description }}</p>
                    {% if offre.identifiant == 'basic' %}
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    {% elseif offre.identifiant == 'premium' %}
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    {% elseif offre.identifiant == 'gold' %}
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    {% endif %}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
    <!-- END Card with image -->
{% endblock %}
