<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image float-left">
                {% if app.user.photo is not null %}
                    <img src="{{ asset('uploads/profiles/' ~ app.user.photo ) }}" class="rounded" alt="User Image">
                {% else %}
                    <img src="{{ asset('images/user2-160x160.png') }}" class="rounded" alt="User Image">
                {% endif %}
            </div>
            <div class="info float-left">
                <p>{{ app.user.username }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> {% if is_granted('ROLE_SUPER_ADMIN') %}Administrateur{% else %}Client{% endif %}</a>
            </div>
            <!-- search form -->
            <!--form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="{% if app.request.get('_route')  == "admin_index" %}active{% endif %}">
                <a id="1" href="{% if is_granted('ROLE_SUPER_ADMIN') %}{{ path('admin_index') }}{% else %}{{ path('homepage') }}{% endif %}">
                    <i class="fa fa-dashboard"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>

            <li class="treeview {% if  app.request.get('_route') == "admin_institution_index" or
                app.request.get('_route') == "admin_institution_edit" or
                app.request.get('_route') == "admin_institutions_nouvelle" %}active{% endif %}">
                <a href="#" id="2">
                    <i class="fa fa-files-o"></i>
                    <span>Etablissements</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="{% if app.request.get('_route')  == "admin_institution_index" %}active{% endif %}">
                        <a id="2-1" href="{{ path('admin_institution_index') }}">
                            <i class="fa fa-circle-o"></i> Liste des établissements
                        </a>
                    </li>
                        {% else %}
                            <li class="{% if app.request.get('_route')  == "admin_institution_index" %}active{% endif %}">
                                <a id="2-2" href="{{ path('admin_institution_index') }}">
                                    <i class="fa fa-circle-o"></i> Liste de mes établissements
                                </a>
                            </li>
                    {% endif %}
                    <li class="{% if app.request.get('_route')  == "admin_institutions_nouvelle" %}active{% endif %}">
                        <a href="{{ path('admin_institutions_nouvelle') }}"><i class="fa fa-circle-o"></i> Ajouter un nouvel</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview {% if  app.request.get('_route') == "admin_offre_index" or
                app.request.get('_route') == "admin_offre_edit" or
                app.request.get('_route') == "admin_offre_new" %}active{% endif %}">
                <a href="#" id="3">
                    <i class="fa fa-th"></i>
                    <span>Offres</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route')  == "admin_offre_index" %}active{% endif %}">
                        <a id="3-1" href="{{ path('admin_offre_index') }}"><i class="fa fa-circle-o"></i> Les offres</a></li>
                    <li class="{% if app.request.get('_route')  == "admin_offre_new" %}active{% endif %}">
                        <a id="3-2" href="{{ path('admin_offre_new') }}"><i class="fa fa-circle-o"></i> Ajouter une nouvelle offre</a></li>
                </ul>
            </li>
            <li class="treeview {% if  app.request.get('_route') == "admin_categorie_index" or
                app.request.get('_route') == "admin_categorie_new" %}active{% endif %}">
                <a id="4" href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Catégories</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route')  == "admin_categorie_index" %}active{% endif %}"><a id="4-1" href="{{ path('admin_categorie_index') }}"><i class="fa fa-circle-o"></i> Liste de tous les catégories</a></li>
                    <li class="{% if app.request.get('_route')  == "admin_categorie_new" %}active{% endif %}">
                        <a id="4-2" href="{{ path('admin_categorie_new') }}">
                            <i class="fa fa-circle-o"></i> Ajouter une nouvelle
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if  app.request.get('_route') == "admin_souscategorie_index" or
                app.request.get('_route') == "admin_souscategorie_edit" or
                app.request.get('_route') == "admin_souscategorie_new" %}active{% endif %}">
                <a id="5" href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Sous catégories</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route')  == "admin_souscategorie_index" %}active{% endif %}">
                        <a id="5-1" href="{{ path('admin_souscategorie_index') }}"><i class="fa fa-circle-o"></i> Liste des sous catégories</a></li>
                    <li class="{% if app.request.get('_route')  == "admin_souscategorie_new" %}active{% endif %}">
                        <a id="5-2" href="{{ path('admin_souscategorie_new') }}">
                            <i class="fa fa-circle-o"></i> Ajouter une nouvelle
                        </a>
                    </li>
                </ul>
            </li>

                <li class="treeview {% if  app.request.get('_route') == "admin_tags_index" or
                    app.request.get('_route') == "admin_tags_edit" or
                    app.request.get('_route') == "admin_tags_new" %}active{% endif %}">
                    <a id="6" href="#">
                        <i class="fa fa-users"></i> <span>Tags découverte</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.get('_route')  == "admin_tags_index" %}active{% endif %}">
                            <a id="6-1" href="{{ path('admin_tags_index') }}"><i class="fa fa-circle-o"></i> Listes des tags</a></li>
                        <li class="{% if app.request.get('_route')  == "admin_tags_new" %}active{% endif %}">
                            <a id="6-2" href="{{ path('admin_tags_new') }}"><i class="fa fa-circle-o"></i> Ajouter un nouveau</a></li>
                    </ul>
                </li>



                <li class="treeview {% if  app.request.get('_route') == "taginstitution_index" or
                    app.request.get('_route') == "taginstitution_edit" or
                    app.request.get('_route') == "taginstitution_new" %}active{% endif %}">
                    <a id="7" href="#">
                        <i class="fa fa-users"></i> <span>Etiquettes établissement</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% if app.request.get('_route')  == "taginstitution_index" %}active{% endif %}">
                            <a id="7-1" href="{{ path('taginstitution_index') }}"><i class="fa fa-circle-o"></i> Listes des étiquettes</a></li>
                        <li class="{% if app.request.get('_route')  == "taginstitution_new" %}active{% endif %}">
                            <a id="7-2" href="{{ path('taginstitution_new') }}"><i class="fa fa-circle-o"></i> Ajouter une nouvelle</a></li>
                    </ul>
                </li>

            {% endif %}
            <li class="treeview {% if  app.request.get('_route') == "event_index" or
                app.request.get('_route') == "event_new" or
                app.request.get('_route') == "event_show" or
                app.request.get('_route') == "event_edit" %}active{% endif %}">
                <a id="8" href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Evénements</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route')  == "event_index" %}active{% endif %}">
                        <a id="8-1" href="{{ path('event_index') }}"><i class="fa fa-circle-o"></i> Liste de mes événements</a></li>
                    <li class="{% if app.request.get('_route')  == "event_new" %}active{% endif %}">
                        <a id="8-2" href="{{ path('event_new') }}"><i class="fa fa-circle-o"></i> Ajouter un nouveau</a></li>
                </ul>
            </li>
            {#<li class="treeview  if  app.request.get('_route') == "article_index" or
                {#app.request.get('_route') == "article_new" or#}
                {#app.request.get('_route') == "article_edit" or#}
                {#app.request.get('_route') == "article_show" %}active{% endif %}">#}
                {#<a href="#">#}
                    {#<i class="fa fa-edit"></i> <span>Article</span>#}
                    {#<span class="pull-right-container">#}
              {#<i class="fa fa-angle-left pull-right"></i>#}
            {#</span>#}
                {#</a>#}
                {#<ul class="treeview-menu">#}
                    {#<li class="{% if app.request.get('_route')  == "article_index" %}active{% endif %}">#}
                        {#<a href="{{ path('article_index') }}"><i class="fa fa-circle-o"></i> Liste des articles</a></li>#}
                    {#<li class="{% if app.request.get('_route')  == "article_new" %}active{% endif %}">#}
                        {#<a href="{{ path('article_new') }}"><i class="fa fa-circle-o"></i> Ajouter un article</a></li>#}
                {#</ul>#}
            {#</li>#}
            <li class="treeview {% if  app.request.get('_route') == "publicite_index" or
                app.request.get('_route') == "publicite_new" or
                app.request.get('_route') == "publicite_show" or
                app.request.get('_route') == "publicite_edit" %}active{% endif %}">
                <a id="9" href="#">
                    <i class="fa fa-table"></i> <span>Publicité</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if app.request.get('_route')  == "publicite_index" %}active{% endif %}">
                        <a id="9-1" href="{{ path('publicite_index') }}"><i class="fa fa-circle-o"></i> Liste des publicités</a></li>
                    <li class="{% if app.request.get('_route')  == "publicite_new" %}active{% endif %}">
                        <a id="9-2" href="{{ path('publicite_new') }}"><i class="fa fa-circle-o"></i> Ajouter une nouvelle</a></li>
                </ul>
            </li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="{% if app.request.get('_route')  == "user_index" %}active{% endif %}">
                <a id="10" href="{{ path('user_index') }}">
                    <i class="fa fa-users"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
            {% endif %}

            {# if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Utilisateurs</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Listes des utilisateurs</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Ajouter un nouveau</a></li>
                </ul>
            </li>

            {% endif #}

        </ul>
    </section>
    <!-- /.sidebar -->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="{{ path('fos_user_profile_show') }}" class="link" data-toggle="tooltip" title="" data-original-title="Modifier mon profil"><i class="fa fa-cog fa-spin"></i></a>
        <!-- item-->
        <a href="#" class="link" data-toggle="tooltip" title="" data-original-title="Email"></a>
        <!-- item-->
        <a href="{{ path('fos_user_security_logout') }}" class="link" data-toggle="tooltip" title="" data-original-title="Se déconnecter"><i class="fa fa-power-off"></i></a>
    </div>
</aside>