{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventcategorie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eventCategorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eventCategorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventcategorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('eventcategorie_edit', { 'id': eventCategorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
