{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{% block not_comtpe %}
    <div class="margin-top-30 text-center">
        <p>Avez-vous un compte? <a href="{{ path('fos_user_registration_register') }}" class="text-info m-l-5">S'inscrire</a></p>
    </div>
{% endblock %}