{% extends 'base.html.twig' %}
{% block title_page %}Gestion des sous catégories {% endblock %}
{% block sub_title_page %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<!-- Basic Forms -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Modification de la sous catégorie</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-12">
            {{ form_start(edit_form) }}
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Nom de la catégorie</label>
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.nom, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.description, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Image de la catégorie</label>
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.image, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">Catégorie parent</label>
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.categorie, {'attr':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-sm-3 col-form-label">

                    </label>
                    <div class="col-sm-9">
                        <input type="submit" value="Enregistrer" class="btn btn-block btn-warning" />
                    </div>
                </div>
            {{ form_end(edit_form) }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>
    <!-- /.box -->
{% endblock %}
