{% extends 'base.html.twig' %}


{% block title_page %} Sous catégories {% endblock %}
{% block sub_title_page %} Gesstion des sous catégories {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des sous catégories de type d'institutions et des points d'intérêt</h3>
                    <a class="btn btn-info pull-right" href="{{ path('admin_souscategorie_new') }}">
                        Une nouvelle sous catégorie
                    </a>
                </div>
                {% for message in app.flashes('success') %}
                    <div class="flash-notice alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Catégorie parent</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sousCategorie in sousCategories %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_souscategorie_edit', { 'id': sousCategorie.id }) }}">
                                        {% if sousCategorie.image is not null %}
                                            <img class="img-thumbnail img-md" src="{{ asset('uploads/'~sousCategorie.image) }}" alt="{{ sousCategorie.nom }}">
                                        {% else %}
                                            <img class="img-thumbnail img-md" src="{{ asset('images/150x100.png') }}" alt="{{ sousCategorie.nom }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ sousCategorie.nom }}</td>
                                <td>
                                    {% if sousCategorie.categorie is defined %}
                                    {{ sousCategorie.categorie }}
                                        {% else %}
                                        Néant
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning">
                                            <a href="{{ path('admin_souscategorie_edit', { 'id': sousCategorie.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}