{% extends 'base.html.twig' %}
{% block title_page %}Gestion des catégories {% endblock %}
{% block sub_title_page %} {% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    <!-- Basic Forms -->
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter une nouvelle catégorie</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-12">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Nom de la sous catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Catégorie parent</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.categorie, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.description, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">Image de la catégorie</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.image) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-3 col-form-label">

                        </label>
                        <div class="col-sm-9">
                            <input type="submit" value="Enregistrer" class="btn btn-block btn-success" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/js/jbfileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jcrop/js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.jb_fileupload').jbFileUpload();
        });

        document.addEventListener('jb.FileUpload.success',  function(){
            console.log('cool !')
        })
    </script>
{% endblock %}