{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">

    <!-- gallery -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor_components/gallery/css/animated-masonry-gallery.css') }}" />

    <!-- fancybox -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor_components/lightbox-master/dist/ekko-lightbox.css') }}" />

{% endblock %}

{% block title_page %} Institution {% endblock %}
{% block sub_title_page %} Présentation d'une institution{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl-4 col-lg-5">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    {% if event.photo is not null %}
                        <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('images/'~ event.photo) }}" alt="{{ event.nom }}">
                    {% else %}
                        <img class="profile-user-img rounded-circle img-fluid mx-auto d-block" src="{{ asset('images/150x100.png') }}" alt="Image par défaut">
                    {%  endif %}

                    <h3 class="profile-username text-center">{{ event.nom }}</h3>

                    <p style="text-align: center">
                        {% if event.status == 1 %}
                        <label class="label label-success">Approuvé</label>
                            {% elseif event.status == 0 %}
                                <label class="label label-danger">Non validé</label>
                            {% else %}
                            <label class="label label-warning">En cours d'approvation</label>
                        {% endif %}
                    </p>

                    <div class="row">
                        <div class="col-12">
                            <div class="profile-user-info">
                                <p>Téléphone</p>
                                <h6 class="margin-bottom">{{ event.lieu }}</h6>
                                <div class="map-box">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805244.1745767146!2d-86.32675167439648!3d29.383165774894163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C+USA!5e0!3m2!1sen!2sin!4v1501665415329" height="150" style="border:0" allowfullscreen></iframe>
                                </div>
                                <p class="margin-bottom">Social Profile</p>
                                <div class="user-social-acount">
                                    <a href="#" class="btn btn-circle btn-social-icon btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <button href="#" class="btn btn-circle btn-social-icon btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button href="#" class="btn btn-circle btn-social-icon btn-instagram">
                                        <i class="fa fa-instagram"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-8 col-lg-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li><a class="active" href="#infos" data-toggle="tab">Infos générales</a></li>
                    <li><a href="#galerie" data-toggle="tab">Galerie d'images</a></li>
                </ul>

                <div class="tab-content">

                    <div class="active tab-pane" id="infos">
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <td>Description</td>
                                <td style="text-align:left">
                                    {{ event.description|raw }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="galerie">
                        <div class="form-group">
                            <label>Galeries (mois de 10 images)</label>
                            <div class="dropzone my-dropzone dz-clickable" id="form_snippet_image" action="{{path('ajax_snippet_image_send', {'id': event.id})}}">
                                <div class="dz-default dz-message" data-dz-message="">
                                    <span>Glissez/Déposez ici les photos de la galerie</span>
                                </div>
                            </div>
                        </div>

                        <!-- Default box -->
                        <div class="box">
                            <div class="box-body">
                                <div id="gallery">
                                    <div id="gallery-header">
                                        <div id="gallery-header-center">
                                            <div id="gallery-header-center-left">
                                                <div class="gallery-header-center-right-links" id="filter-all">All</div>
                                                <div class="gallery-header-center-right-links" id="filter-studio">Studio</div>
                                                <div class="gallery-header-center-right-links" id="filter-landscape">Landscapes</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gallery-content">
                                        <div id="gallery-content-center">
                                            <a href="{{ asset('images/gallery/studio1.jpg') }}" data-toggle="lightbox" data-gallery="multiimages" data-title="Image title will be apear here"><img src="{{ asset('images/gallery/studio1.jpg') }}" alt="gallery" class="all studio" /> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function(){
            //je récupère l'action où sera traité l'upload en PHP
            var _actionToDropZone = $("#form_snippet_image").attr('action');

            //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
            Dropzone.autoDiscover = false;
            var my_dropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone });
            my_dropzone.on("addedfile", function(file) {
                console.log('nouveau fichier reçu');
            });
        });
    </script>
    <!-- dropzone -->
    <script src="{{ asset('js/dropzone.js') }}"></script>


{% endblock %}

{% block gallery %}
    <!-- gallery -->
    <script type="text/javascript" src="{{ asset('assets/vendor_components/gallery/js/animated-masonry-gallery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor_components/gallery/js/jquery.isotope.min.js') }}"></script>

    <!-- fancybox -->
    <script type="text/javascript" src="{{ asset('assets/vendor_components/lightbox-master/dist/ekko-lightbox.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function(direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });
            //Programatically call
            $('#open-image').click(function(e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function(e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
                event.preventDefault();
                var lb;
                return $(this).ekkoLightbox({
                    onShown: function() {
                        lb = this;
                        $(lb.modal_content).on('click', '.modal-footer a', function(e) {
                            e.preventDefault();
                            lb.navigateTo(2);
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}