{% extends 'base.html.twig' %}

{% block title_page %} Publicité {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des publicités</h3>
                <a class="btn btn-info pull-right" href="{{ path('publicite_new') }}">
                    Une nouvelle publicité
                </a>
            </div>

            {% for message in app.flashes('success') %}
                <div class="flash-notice alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Titre</th>
                            <th>Date_publicite</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for publicite in publicites %}
                        <tr>
                            <td>
                                <a href="{{ path('publicite_show', { 'id': publicite.id }) }}">
                                    <img class="img-sm" src="{{ asset('images/'~ publicite.photo ) }}" alt="">
                                </a>
                            </td>
                            <td>{{ publicite.titre }}</td>
                            <td>{{ publicite.datepublicite}}</td>
                            <td>{{ publicite.type }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('publicite_edit', { 'id': publicite.id }) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% endblock %}



{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}