{% extends 'base.html.twig' %}

{% block body %}
    <h1>Publicite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publicite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ publicite.titre }}</td>
            </tr>
            <tr>
                <th>Date_publicite</th>
                <td>{% if publicite.datepublicite %}{{ publicite.datepublicite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ publicite.photo }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ publicite.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publicite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publicite_edit', { 'id': publicite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
