{% extends 'base.html.twig' %}


{% block title_page %} Gesstion des Etiquettes {% endblock %}
{% block sub_title_page %}  {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des étiquettes</h3>
                    <a class="btn btn-info pull-right" href="{{ path('taginstitution_new') }}">
                        Une nouveau tag
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tag in tagInstitutions %}
                            <tr>
                                <td>
                                    <a href="{{ path('taginstitution_show', { 'id': tag.id }) }}">
                                        {% if tag.photo is not null %}
                                            <img class="img-thumbnail img-md" src="{{ asset('uploads/'~tag.photo) }}" alt="{{ tag.nom }}">
                                        {% else %}
                                            <img class="img-thumbnail img-md" src="{{ asset('images/150x100.png') }}" alt="{{ tag.nom }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ tag.nom }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-warning">
                                            <a href="{{ path('taginstitution_edit', { 'id': tag.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}