{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des utilisateurs (clients)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {% for message in app.flashes('success') %}
                    <div class="flash-notice alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('failed') %}
                    <div class="flash-notice alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <table id="example" class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Photo de profil</th>
                        <th>Prénom & nom</th>
                        <th>Nom d'utilisateur</th>
                        <th>Email</th>
                        <th style="border-top: hidden; border-right: hidden;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if client.enabled == true %}
                                    <i style="color: darkgreen" class="fa fa-check-square"></i>
                                    {% else %}
                                        <i style="color: red" class="fa fa-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="#">
                                    {% if client.photo is not null %}
                                        <img class="img-responsive img-sm img-thumbnail" src="{{ asset('images/' ~ client.photo) }}" alt="{{ client.username }}">
                                    {% else %}
                                        <img class="img-responsive img-sm img-thumbnail" src="{{ asset('images/user2-160x160.png') }}" alt="{{ client.username }}">
                                    {% endif %}
                                </a>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ client.prenom }} {{ client.nom }}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <label class="label label-primary">
                                    {{ client.username }}
                                </label>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ client.email }}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">
                                        <a href="#">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </button>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                            </button>
                                            <div class="dropdown-menu">
                                                {% if client.enabled == false %}
                                                <a class="dropdown-item" href="{{ path('client_activate',{ 'username': client.username, 'status': 1 }) }}">Activer</a>
                                                {% else %}
                                                <a class="dropdown-item" href="{{ path('client_activate',{ 'username': client.username, 'status': 0 }) }}">Désactiver</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}