{% extends 'base.html.twig' %}


{% block title_page %} Type d'établissements {% endblock %}
{% block sub_title_page %} Gesstion des catégories {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-12">

             <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Liste des catégories d'établissements</h3>
                    <a class="btn btn-info pull-right" href="{{ path('admin_categorie_new') }}">
                        Une nouvelle catégorie
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped table-responsive">
                      <thead>
                      <tr>
                          <th>Image</th>
                          <th>Nom</th>
                          <th>Desription</th>
                          <th>Ordre</th>
                          <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for categorie in categories %}
                          <tr>
                              <td>
                                  <a href="{{ path('admin_categorie_edit', { 'id': categorie.id }) }}">
                                      {% if categorie.image is not null %}
                                          <img class="img-thumbnail img-md" src="{{ asset('images/' ~ categorie.image) }}" alt="{{ categorie.nom }}">
                                          {% else %}
                                              <img class="img-thumbnail img-md" src="{{ asset('images/150x100.png') }}" alt="{{ categorie.nom }}">
                                      {% endif %}
                                  </a>
                              </td>
                              <td>{{ categorie.nom }}</td>
                              <td>{{ categorie.desription }}</td>
                              <td>
                                  {% if categorie.ordre != 1 %}<a href="{{ path('up',{ 'id': categorie.id, 'ordre': categorie.ordre }) }}"><i class="fa fa-level-up"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                                  {% if not loop.last %}<a href="{{ path('down',{ 'id': categorie.id, 'ordre': categorie.ordre }) }}"><i class="fa fa-level-down"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                              </td>
                              <td>
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-warning">
                                          <a href="{{ path('admin_categorie_edit', { 'id': categorie.id }) }}">
                                              <i class="fa fa-edit"></i>
                                          </a>
                                      </button>
                                      <button type="button" class="btn btn-primary">
                                          <a href="{{ path('admin_categorie_show', { 'id': categorie.id }) }}">
                                              <i class="fa fa-eye-slash"></i>
                                          </a>
                                      </button>
                                  </div>
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
                <!-- /.box-body -->
             </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- This is data table -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js') }}"></script>

    <!-- start - This is for export functionality only -->
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/jszip.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/ex-js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/vendor_plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.print.min.js') }}"></script>
    <!-- end - This is for export functionality only -->

    <!-- bonitoadmin for Data Table -->
    <script src="{{ asset('js/pages/data-table.js') }}"></script>
{% endblock %}